---

import Layout from '../layouts/Layout.astro';
import Composer from '../components/Composer.vue';
import Navbar from '../components/Navbar.astro';
---

<Layout title="Interview trainer">
	<main class="container">
		<Navbar />

		<h1 class="is-size-1 mb-5">Interview</h1>

		<Composer client:visible />
		
	</main>
</Layout>