<nav class="navbar mb-3" role="navigation" aria-label="main navigation">
    <div class="navbar-brand pl-2">
      <!-- a class="navbar-item" href="https://bulma.io">
        <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
      </a -->

      <a href="/" class="navbar-item">
        <strong>Interview Trainer</strong>
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">

        <!-- a class="navbar-item">
          Text2Speech
        </a -->
  
      </div>
  
      <div class="navbar-end">
        
      </div>
    </div>
  </nav>